article,aside,figure,figcaption,footer,header,nav,section {
  display: block;
}

@page {
  margin:30px 30px 20px 30px;
}

body {
  font-size: 100%;
  line-height: 150%;
}

body * {
  line-height: inherit;
}

h1,h2,h3,h4,h5,h6,dt {
  page-break-inside: avoid;
  page-break-after: avoid;
  text-align: left;
}

h1,h2,h3,h4,h5,h6,dt,table {
  adobe-hyphenate: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -epub-hyphens: none;
  hyphens: none;
}

.break {
  page-break-before: always;
}

.keep {
  page-break-inside: avoid;
}

.keep-after {
  page-break-after: avoid;
}

.fs-smaller {
  font-size: .8125em;
}

.fs-small {
  font-size: .9375em;
}

.fs-1 {
  font-size: 1em;
}

.fs-2 {
  font-size: 1.1875em;
}

.fs-3 {
  font-size: 1.3125em;
}

.fs-4 {
  font-size: 1.5em;
}

.fs-5 {
  font-size: 1.75em;
  line-height: 172%;
}

.fs-6 {
  font-size: 2em;
  line-height: 150%;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
  text-indent: 0;
}

.right {
  text-align: right;
  text-indent: 0;
}

img,video,svg {
  width: auto;
  max-width: 100%;
}